@CHARSET "ISO-8859-1";

.formTable {
	padding: 10px;
	border: 1px solid blue;
	width: 400px;
}

input[type=text] {
	width: 250px;
	padding-left: 10px;
}
input[type=password] {
	width: 250px;
	padding-left: 10px;
}

textarea {
	width: 250px;
	height: 300px;
	padding-left: 10px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.error{
	font-size: small;
	color: red;
	margin-left: 10px;
}
table.offers{
	padding: 20px;
	border: 1px solid black;
}
p.loginError{
	color: red;
}